[submodule "IIS_servicios_SRCEI"]
	path = IIS_servicios_SRCEI
	url = https://github.com/ifgarces/IIS_servicios_SRCEI
[submodule "IIS_servicios_Caja"]
	path = IIS_servicios_Caja
	url = https://github.com/ifgarces/IIS_servicios_Caja
[submodule "IIS_servicios_RVM"]
	path = IIS_servicios_RVM
	url = https://github.com/ifgarces/IIS_servicios_RVM
[submodule "IIS_servicios_PPE"]
	path = IIS_servicios_PPE
	url = https://github.com/ifgarces/IIS_servicios_PPE
